/* colors for mooShell functionality only */

body {
	background: #efefef;
}

#sidebar {
	background-color: #fff;
	color: #444;
}

#sidebar #branding {
	color: #444;
}

#sidebar #branding #home {
	color: #444;
}

#sidebar a {
	color: #36f;
}

/* header */
#header {
	background: url(../img/sprites.png) repeat-x;
}
#branding {
	color: #ffffff;
}
#home {
	background: transparent url(../img/sprites.png) no-repeat -227px -101px;
}

/* sidebar */
#sidebar .toggler {
	background: transparent url(../img/sprites.png) no-repeat 0 -288px;
	text-shadow: 0 1px 0 #fff;
	color: #333;
}
#sidebar .toggler.active {
	background-position: 0 -323px;
}
#sidebar .toggler.selected {
	background-position: 0 -323px;
}
#sidebar pre,
#sidebar code {
	background: #fffadb;
}

#sidebar input[type='text'],
#sidebar textarea {
	background: #fff !important;
	border-top: 1px solid #959595 !important;
	border-left: 1px solid #959595 !important;
	border-bottom: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
}

/* actions */
#actions a,
#actions a.collapsedActions strong {
	background-image: url(../img/sprites.png);
}
#actions a span {
	background: url(../img/sprites.png);
	text-shadow: 0 -1px 0 #000;
	color: #ffffff;
}


/* select link */

#select_link {
	border: 0px solid red;
	background: transparent url(../img/sprites.png) no-repeat 0 -254px;
	color: #fdfdfd;
}


/* editor labels */
.window_label {
	background: transparent url(../img/sprites.png) no-repeat -255px -50px;
}
/* fullscreen */
.fullscreen {
	background: transparent url(../img/sprites.png) no-repeat -301px -320px;
}

/* editors */
#content textarea,
#content iframe {
	background: #fff !important;
	border-width: 0 !important;
}
#content .window {
	border-top: 1px solid #959595 !important;
	border-left: 1px solid #959595 !important;
	border-bottom: 1px solid #ccc !important;
	border-right: 1px solid #ccc !important;
}

