/* generic styles for mooShell functionality only */

/* generic tools */
body { font-family: Helvetica, Arial; }	

/* main structure */
#sidebar { float: left; width: 204px; }
#content { margin-left: 232px; }

/* header */
#header { height: 39px; }
#branding { float: left; padding: 0 10px; font-size: 10px; width: 212px; }
#home { text-indent: -9999px; display: block; width: 96px; height: 39px; }

/* sidebar */
#sidebar { font-size: 11px; padding: 8px 8px 0 8px; }
#sidebar p { margin-top: 3px;  line-height: 135%; padding: 0 0 3px;}
#sidebar pre,
#sidebar code { 
	padding: 0 2px;
	background: #FFFADB; 
	font-family: "Inconsolata", "Monaco", "Andale Mono", "Courier New", Courier, sans-serif;
	font-size: .9em;
}

#sidebar .element,
#sidebar .text { padding: 0px 10px 0px; margin-bottom: 5px;   }

#sidebar h3 { 
	padding: 0 10px; 
	height: 28px; line-height: 28px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Sans, Tahoma; 
	font-size: 11px; font-weight: bold;
	text-shadow: 0 1px 0 #fff;
	clear: both; 
	
}

#sidebar .toggler { margin-bottom: 5px; }
#sidebar .element { }
#sidebar .toggler,
#sidebar a { cursor: pointer; }

/* actions */
#actions a {
	display: block; 
	float: left;
	height: 27px;
	margin-top: 6px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#actions a span {
	font-family: "Lucida Grande", "Lucida Sans", "Luxi Sans", Sans, Tahoma; 
	font-weight: bold; line-height: 27px; 
	padding-left: 30px; font-size: 11px; 
	display: block;
	background-repeat: no-repeat;
}

#actions #run { width: 70px; margin-right: 6px; background-position: 0px -154px; }
#actions #run:hover { background-position: 0px -187px; }
#actions #run:active { background-position: 0px -220px; }
#actions #run span { background-position: 0px -44px; }

#actions #update { width: 82px; background-position: -76px -154px; }
#actions #update:hover { background-position: -76px -187px; }
#actions #update:active { background-position: -76px -220px; }
#actions #update span { background-position: 0px -70px; }
/*
#actions #run { width: 82px; background-position: -76px -154px; }
#actions #run span { background-position: 6px -26px; }
*/

#actions #savenew { width: 97px; background-position: -158px -154px; }
#actions #savenew:hover { background-position: -158px -187px; }
#actions #savenew:active { background-position: -158px -220px; }
#actions #savenew span { background-position: 0px -96px; }

#actions #clean { width: 77px; background-position: -255px -154px; }
#actions #clean:hover { background-position: -255px -187px; }
#actions #clean:active { background-position: -255px -220px; }
#actions #clean span { background-position: 0px -122px; }

/* select link */

#select_link { 
	float: right; 
	width: 229px;
	height: 27px;
	margin: 6px 10px 0;
	font-size: 13px;
	padding-left: 15px; 
	line-height: 27px;
}

/* editor */
#content fieldset { margin-top: 8px; }


#content fieldset p { 
	width: 49.5%; float: left; display: inline; 
	position: relative;
}

#content textarea,
#result iframe,
body.editbox { 
	font-family: "Inconsolata", "Monaco", Courier, monospace;
	line-height:15px; font-size: 12px;
	min-width: 190px; width: 98%; height: 150px;
}
.fieldset_static iframe { height: 150px !important; }

/* resizing sets display to inline, this overrides */
#content textarea { display: block;}

#content #id_code_js, 
#result iframe { height: 250px; min-height: 150px; }

/* editor labels */
.editor_label { 
	display: block; width: 79px; height: 28px; line-height: 28px; 
	z-index: 100; position: absolute; top: 0; right: 6px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Sans, Tahoma; 
	text-align: center;	font-size: 11px; font-weight: bold; 
}
/* fullscreen */
.fullscreen { 
	display: block; width: 31px; height: 31px; text-indent: -9999px;
	z-index: 100; position: absolute; bottom: 6px; right: 14px;
	cursor: pointer;
}