/* generic styles for mooShell functionality only */

/* generic tools */
body {
	font-family: Helvetica, Arial, sans-serif;
}

/* main structure */
#sidebar {
	width: 203px;
	position: absolute;
	top: 40px;
	left: 0;
}
#content {
	margin-left: 227px;
	overflow: hidden;
}

/* header */
#header {
	height: 39px;
}
#branding {
	float: left;
	width: 212px;
	padding: 0 10px;
	font-size: 10px;
}
#home {
	display: block;
	width: 116px;
	height: 39px;
	text-indent: -9999px;
}

/* sidebar */
#sidebar {
	padding: 8px 8px 0 8px;
	font-size: 11px;
}
#sidebar p {
	margin-top: 3px;
	padding: 0 0 3px;
	line-height: 135%;
}
#sidebar pre,
#sidebar code {
	padding: 0 2px;
	background: #fffadb;
	font-family: "Inconsolata", "Monaco", "Andale Mono", "Courier New", Courier, monospace;
	font-size: .9em;
}

#sidebar .element,
#sidebar .text {
	margin-bottom: 5px;
	padding: 0px 10px 0px;
}

#sidebar .element strong {
	font-weight: bold;
}

#sidebar h3 {
	clear: both;
	height: 28px;
	padding: 0 10px;
	line-height: 28px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Sans, Tahoma, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-shadow: 0 1px 0 #fff;
}

#sidebar input[type='text'],
#sidebar textarea {
	width: 173px;
	padding: 3px 5px;
}
#sidebar textarea {
	height: 120px;
}
#sidebar #id_title {
	font-weight: 1.1em;
}

#sidebar .toggler {
	margin-bottom: 5px;
}
#sidebar .element {
}
#sidebar .toggler,
#sidebar a {
	cursor: pointer;
}

#sidebar select {
	width: 100%;
	margin: 3px 0;
}
#shell_settings li {
	margin: 5px 0;
}
#shell_settings li input {
	margin-right: 3px;
}

#sidebar #share_links {
	margin: 0 0 10px;
}

	#sidebar #share_links label {
		display: block;
		padding: 0 0 2px;
		font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Sans, Tahoma, sans-serif;
		font-size: 11px;
		font-weight: bold;
	}

	#sidebar #share_links p {
		margin: 0 0 7px;
	}

	#sidebar #share_links .share {
		padding: 3px 0;
		text-indent: 3px;
		color: #626262;
	}

/* actions */
#actions a {
	display: block;
	float: left;
	height: 27px;
	margin-top: 6px;
	background-repeat: no-repeat;
	cursor: pointer;
}
#actions a span {
	display: block;
	padding-left: 30px;
	background-repeat: no-repeat;
	line-height: 27px;
	font-family: "Lucida Grande", "Lucida Sans", "Luxi Sans", Sans, Tahoma, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

#actions #run {
	width: 70px;
	margin-right: 6px;
	background-position: 0px -154px;
}
	#actions #run:hover {
		background-position: 0px -187px;
	}
	#actions #run:active {
		background-position: 0px -220px;
	}

#actions #run span {
	background-position: 0px -44px;
}
#actions #update span {
	background-position: 0px -70px;
}
#actions #savenew span {
	background-position: 0px -96px;
}
#actions #clean span {
	background-position: 0px -123px;
}

#actions a.collapsedActions span {
	padding-right: 12px;
}

	#actions a.collapsedActions strong {
		display: block;
		background-position: 100% -357px;
		background-repeat: no-repeat;
	}

	body #actions a.lastChild strong {
		background-image: none;
	}

#actions a {
	background-position: -158px -154px;
}

	#actions a:hover {
		background-position: -158px -187px;
	}

	#actions a:active {
		background-position: -158px -220px;
	}

#actions a.firstChild {
	background-position: -76px -154px;
}

	#actions a.firstChild:hover {
		background-position: -76px -187px;
	}

	#actions a.firstChild:active {
		background-position: -76px -220px;
	}

#actions a.lastChild {
	background-position: 100% -154px;
}

	#actions a.lastChild:hover {
		background-position: 100% -187px;
	}

	#actions a.lastChild:active {
		background-position: 100% -220px;
	}

/* select link */

#select_link {
	float: right;
	width: 229px;
	height: 27px;
	margin: 6px 10px 0;
	font-size: 13px;
	padding-left: 15px;
	line-height: 27px;
}

/* editor */
#content fieldset.column {
	float: left;
	display: block;
	width: 300px;
	margin-top: 8px;
}

#content .window {
	width: 298px;
	height: 152px;
	position: relative;
}

#handler_vertical {
	float: left;
	width: 8px;
	height: 100px;
	margin-top: 8px;
}
.handler_horizontal {
	width: 100%;
	height: 8px;
}

#content textarea,
#result iframe,
body.editbox {
	min-width: 100px;
	width: 298px;
	height: 150px;
	line-height:15px;
	font-family: "Inconsolata", "Monaco", Courier, monospace;
	font-size: 12px;
}

/* resizing sets display to inline, this overrides */
#content textarea {
	display: block;
}

/* editor labels */
.window_label {
	display: block;
	width: 79px;
	height: 28px;
	line-height: 28px;
	z-index: 100;
	position: absolute;
	top: 0;
	right: -2px;
	font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", "Luxi Sans", Sans, Tahoma, sans-serif;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
}
/* fullscreen */
.fullscreen {
	display: block;
	width: 31px;
	height: 31px;
	text-indent: -9999px;
	z-index: 100;
	position: absolute;
	bottom: 6px;
	right: 14px;
	cursor: pointer;
}
