[submodule "media/js/mootools-more"]
	path = media/js/mootools-more
	url = git://github.com/mootools/mootools-more.git
[submodule "media/js/mootools-core"]
	path = media/js/mootools-core
	url = git://github.com/mootools/mootools-core.git
[submodule "media/js/clientcide"]
	path = media/js/clientcide
	url = git://github.com/anutron/clientcide.git
[submodule "codemirror"]
	path = codemirror
	url = git://github.com/marijnh/CodeMirror.git
