<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="edit-Type" edit="text/html; charset=utf-8">
	<meta name="description" edit="mootools shell, easy test you snippets before implementing">
	<meta name="keywords" edit="mootools,javascript,javascript framework,shell,test">
	<meta name="robots" edit="all">

	<title>Error 404 | mooShell | to test your Mootools code</title>
	
	<meta name="author" edit="Piotr Zalewa">
	<meta name='copyright' content='share alike'/>

	<script type="text/javascript" src="{% url media "js/lib/mootools-1.2.3-core-yc.js" %}"></script>
	<script type="text/javascript" src="{% url media "js/lib/mootools-1.2.3.1-more.js" %}"></script>
	<script type="text/javascript" src="{% url media "js/lib/posteditor-clientcide-trunk-2.1.0.js" %}"></script>
	<script type="text/javascript" src="{% url media "js/layout.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/mooShell/Actions.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/mooShell/Editor.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% url media "css/normalize.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% url media "css/tricks.css" %}"/>	
	<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="{% url media "css/ie-hacks.css" %}"/>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{% url media "css/style.css" %}"/>	
	<link rel="stylesheet" type="text/css" href="{% url media "css/colors.css" %}"/>

	
	<script type="text/javascript">
		window.addEvent('domready',function() {			
			$extend(Layout, new Events());
			Layout.start();
			Layout.resize();
			var mooshell = new MooShellActions({
				exampleURL: "",
				exampleSaveUrl: '{% url pastie_save %}'
			}).run();	
			Layout.js_editor = new MooShellEditor.JS($('id_code_js')); 
			Layout.html_editor = new MooShellEditor.HTML($('id_code_html')); 
			Layout.css_editor = new MooShellEditor.CSS($('id_code_css'));  
		})
	</script>
</head>
<body>
<form method='post' id='show-result' target='result' action='/_display/' >
	<div id='sidebar'>
		<div id='branding'>
			<p id='name'><a href='/' id='home'>mooShell</a>(404)</p>
		</div>
		{% include "_mooshell_actions.html" %}
		<h3>Error 404</h3>
		<div class='element'>
			<p>
				We did our best searching for it, but it seems that this example
				does not exist in our database. It may be it is expired or deleted.
			</p>
		</div>
		{% include "_mooshell_latest.html" %}
		{% include "_mooshell_about.html" %}
		{% include "_mooshell_examples.html" %}
		{% include "_mooshell_options.html" %}
	</div>
	<div id="content">
		<fieldset class="fieldset_static">
					<p class="optional">
						<label for="id_code_html">HTML</label>
						<textarea id="id_code_html" rows="10" cols="40" name="code_html"><h1>Error 404.</h1>
<p id='error'>I'm sorry, but this example does not exist.</p></textarea>
					</p>
					<p class="optional">
						<label for="id_code_css">CSS</label>
						<textarea id="id_code_css" rows="10" cols="40" name="code_css">#error { 
  padding: 4px; 
  border: 1px solid #f90; 
  background: #ff9; 
}</textarea>
					</p>
		</fieldset>
		<fieldset class="fieldset_">
					<p class="optional">
						<label for="id_code_js">Javascript</label>
						<textarea id="id_code_js" rows="10" cols="40" name="code_js">var err = new Fx.Tween('error', {
  link: 'chain',
  property: 'opacity',
  duration: 1000
});
(function() { 
  err.start(0.5).start(1);
}).periodical(1000);
</textarea>
					</p>
						<p id='result'><label id='result_label'>Result</label><iframe name='result'></iframe></p>
		</fieldset>
</div>
</form>

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-366077-12");
		pageTracker._trackPageview();
	} catch(err) {}
</script>
</body></html>
