<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="edit-Type" edit="text/html; charset=utf-8">
	<meta name="description" edit="mootools shell, easy test you snippets before implementing">
	<meta name="keywords" edit="mootools,javascript,javascript framework,shell,test">
	<meta name="robots" edit="all">

	<title>Error 500 | MooShell</title>
	
	<meta name="author" edit="Piotr Zalewa">
	<meta name='copyright' content='share alike'/>

	<script type="text/javascript" src="{% url mooshell_media "js/lib/mootools-1.2.4-core-yc.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/lib/mootools-1.2.4.1-more.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/lib/posteditor-clientcide-trunk-2.1.0.js" %}"></script>
	<script type="text/javascript" src="{% url codemirror "js/codemirror.js" %}"></script>
	<script type="text/javascript" src="{% url codemirror "js/mirrorframe.js" %}"></script>

	<script type="text/javascript" src="{% url mooshell_media "js/Sidebar.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/LayoutCM.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/Actions.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/EditorCM.js" %}"></script>
	<script type="text/javascript" src="{% url mooshell_media "js/Settings.js" %}"></script>

	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/normalize.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/tricks.css" %}"/>	
	<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/ie-hacks.css" %}"/>
	<![endif]-->
	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/style.css" %}"/>	
	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/light.css" %}"/>

	<script type='text/javascript'>
		var no_pairs = false;		
		var mediapath = "{% url mooshell_media "/" %}";
		var codemirrorpath = "{% url codemirror "" %}";
		var get_dependencies_url = '{{ get_dependencies_url|safe }}';
		window.addEvent('load', function() {
			$extend(Layout, new Events());
			var mooshell = new MooShellActions({
				exampleURL: "{{ example_url }}",
				exampleSaveUrl: '{% url pastie_save %}'
			}).run();
			new MooShellEditor.JS($('id_code_js'),{
				{% if nopairs %}smartTypingPairs: false,{% endif %}
			}); // add user defined parameters
			new MooShellEditor.HTML($('id_code_html'), {
				{% if nopairs %}smartTypingPairs: false,{% endif %}
			}); // add user defined parameters
			new MooShellEditor.CSS($('id_code_css'), {
				{% if nopairs %}smartTypingPairs: false,{% endif %}
			}); // add user defined parameters
			Layout.start();
			{# var mooshellSettings = new MooShellSettings(); #}
		});
	</script>
</head>
<body>
	
	<form method='post' id='show-result' target='result' action='/_display/' >
		<div id='header'>
			<div id='branding'>
				<p id='name'><a href='/' id='home'>MooShell (beta - Error 500)</a></p>
			</div>
			<div id='actions'>
				<a id='run'><span>Run</span></a>
				<a id="savenew"><span>Save New</span></a> 
				<a id='clean'><span>Clean</span></a>
			</div>
		</div>
		
		<div id='sidebar'>
			<h3>Error 500</h3>
			<div class='text'>
				<p>
					We did our best fighting the bugs, but hey, is anybody perfect?.
				</p>
			</div>
			{% include "_mooshell_latest.html" %}
			{% include "_mooshell_about.html" %}
			{% include "_mooshell_examples.html" %}
			{% include "_mooshell_options.html" %}
			<h3>License</h3>

			<div class='text'>
			{% comment %}
				<p>All code is published under MIT-style license unless specified otherwise.</p>
			{% endcomment %}
				<p>All code belongs to the poster and no license is enforced</p>
			</div>
		</div>
		<input type='hidden' name='js_lib' value='2'/>
		<input type='hidden' name='js_wrap' value='d'/>
		
		
		<div id="content">		
			<input type="hidden" name="slug" id="id_slug" />
			<input type="hidden" name="version" id="id_version" />
			<fieldset class='fieldset_static'>
				<p class='optional'>
					<textarea id="id_code_html" rows="10" cols="40" name="code_html"><h1>Error 500.</h1>
<p id='error'>I'm sorry, but something went wrong on our side. It shouldn't actually happen. Please don't tell anyone :/</p></textarea>
					<span class='editor_label'>HTML</span>
				</p>
				<p class='optional'>
					<textarea id="id_code_css" rows="10" cols="40" name="code_css">#error { 
  padding: 4px; 
  border: 1px solid #f90; 
  background: #ff9; 
}</textarea>
					<span class='editor_label'>CSS</span>
				</p>
			</fieldset>
			<fieldset class=''>
				<p class='optional'>
					<textarea id="id_code_js" rows="10" cols="40" name="code_js">var err = new Fx.Tween('error', {
  link: 'chain',
  property: 'opacity',
  duration: 1000
});
(function() { 
  err.start(0.5).start(1);
}).periodical(1000);</textarea>
					<span class='editor_label'>JavaScript</span>
				</p>
				<p id='result'>
					<iframe name='result'></iframe>
					<span class='editor_label'>Result</span>
				</p>
			</fieldset>
		</form>	
	</div>
	
	
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
			var pageTracker = _gat._getTracker("UA-366077-12");
			pageTracker._trackPageview();
		} catch(err) {}
	</script>
</body></html>


