{# it is quite unusual form structure - that's why render is not automatedd #}
{% if pastieform.non_field_errors %}{{ pastieform.non_field_errors }}{% endif %}
{% if shelltform.non_field_errors %}{{ shellform.non_field_errors }}{% endif %}
{{ pastieform.slug }}
{{ shellform.version }}

<fieldset class='column'>
	<div class='window'>
		{{ shellform.code_html }}
		<span class='window_label'>HTML</span>
	</div>
	<div class='handler handler_horizontal'></div>
	<div class='window'>
		{{ shellform.code_js }}
		<span class='window_label'>JavaScript</span>
	</div>
</fieldset>

<div class='handler' id='handler_vertical'></div>

<fieldset class='column'>
	<div class='window'>
		{{ shellform.code_css }}
		<span class='window_label'>CSS</span>
	</div>
	<div class='handler handler_horizontal'></div>
	<div id='result' class='window'>
		<iframe name='result'></iframe>
		<span class='window_label'>Result</span>
	</div>
</fieldset>
