{% load mooshell_extras %}
{% if edit_title %}
<div class='text'><p>
	Title:<br/>
	{{ pastieform.title }}
</p></div>
{% else %}
	{% if shell.pastie.title %}
		<h3 class='title'>{{ shell.pastie.title }}</h3>
		<input type='hidden' id='id_title' name='title' value="{{ shell.pastie.title }}"/>
	{% endif %}
{% endif %}
<h3 class='toggler' id='settings_toggler'>Settings</h3>
<div class='element' id='shell_settings'>
	<select name='js_wrap' id='js_wrap'>
		<option value=''{% if shell %}{% if not shell.js_wrap %} selected='1'{% endif %}{% endif %}>no wrap</option>
		<option value='d'{% ifequal shell.js_wrap "d" %} selected='1'{% endifequal %}>onDomReady</option>
		<option value='l'{% ifequal shell.js_wrap "l" %} selected='1'{% endifequal %}{% if not shell %} selected='1'{% endif %}>onLoad</option>
	</select>
	
	{% if default_library_group %}{% get_js_libraries default_library_group shell %}
	{% else %}{% get_js_library_groups shell %}
	{% endif %}
	
	{% if SHOW_LIB_OPTION %}<p>
		Library tag attributes:<br/>
		{{ shellform.js_lib_option }}
	</p>{% endif %}
</div>

<script type='application/javascript'>
	window.addEvent('load', function() {
		$('js_lib').addEvent('change', function() {
			mooshell.loadDependencies(this.value);
		})
		if ($('library_group')) $('library_group').addEvent('change', function() {
			mooshell.loadLibraryVersions(this.value);
		})
	});
</script>
