<h3 class="toggler">Credits</h3>
<div class="element">
	<p>
		MooShell is an official <a href='http://mootools.net' target='_new'>MooTools</a> project.
		It is open source software. Code is <a href='http://github.com/mootools/mootools-shell' target='_new'>hosted on GitHub</a>.
	</p> 
	<p>
		Created and maintained by <a href='http://piotr.zalewa.info' target='_credits'>Piotr</a><br/>
		Interface design by <a href='http://nouincolor.com/' target='_credits'>Oskar</a><br/>
		Tested by <a href='http://twitter.com/#search?q=%23mootools' target='_credits'>#mootools</a> community
	</p>
</div>
