{# it is quite unusual form structure - that's why render is not automatedd #}
{% if pastieform.non_field_errors %}{{ pastieform.non_field_errors }}{% endif %}
{% if shelltform.non_field_errors %}{{ shellform.non_field_errors }}{% endif %}
{{ pastieform.slug }}
{{ shellform.version }}
<fieldset class='fieldset_static'>
	<p class='optional'>
		{{ shellform.code_html.errors }}
		{{ shellform.code_html }}
		<span class='editor_label'>HTML</span>
	</p>
	<p class='optional'>
		{{ shellform.code_css.errors }}
		{{ shellform.code_css }}
		<span class='editor_label'>CSS</span>
	</p>
</fieldset>
<fieldset class=''>
	<p class=''>
		{{ shellform.code_js.errors }}
		{{ shellform.code_js }}
		<span class='editor_label'>JavaScript</span>
	</p>
	<p id='result'>
		<iframe name='result'></iframe>
		<span class='editor_label'>Result</span>
	</p>
</fieldset>
