<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="edit-Type" edit="text/html; charset=utf-8" />

	{% for js in js_libs %}<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}
	<script type="text/javascript" src="{% url mooshell_js "lighter/Lighter.js" %}"></script>
	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/tricks.css" %}" />
	<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/ie-hacks.css" %}"/>
	<![endif]-->
	
	{% if base_color %}
	<style type="text/css" media="screen">
		body #head {
			background-color: #{{ base_color }};
		}
	</style>
	{% endif %}
	
	{% for css in css_files %}<link rel="stylesheet" type="text/css" href="{{ css }}"/>{% endfor %}
	<script type='text/javascript'>
		var height,
			show_src = "{{ shell.get_show_url }}?skin={{ skin }}",
			resize_element_counter = 0;
		
		// inject iframe and fire event	
		var loadResult = function () {
			new Element('iframe', {
				'src': show_src,
				'styles': {
					'height': height - 10
				}
			}).inject($('result'));
			this.removeEvent('click',loadResult);
			window.fireEvent('result_included');
		};
		

		Element.implement({
			switchLighter: function(lighter_class) {		
				var resizeLighter = function( light ) {
					// recursive function
					if (light.element) {
						resize_element_counter = 0;
						return light.element.setStyle('height', height);
					}
					if (resize_element_counter++ < 200 ) (function(){
						return resizeLighter(light);
					}).delay(1);
				};
				lighter_class = lighter_class || 'standard';
				// destroy all previous lighters, and create a new one 
				// from the currently selected (but only if it's not the Result tab)
				$$('.'+lighter_class+'Lighter').destroy();
				if (!this.hasClass('result')) {
					var light = this.light({flame: lighter_class});
					resizeLighter(light);
					return light;
				}
			}
		});
		
		this.switchTab = function(action, index) {
			this.sections.removeClass('active');
			this.sections[index].addClass('active');
			this.actions.getParent().removeClass('active');
			action.getParent().addClass('active');
			this.sections[index].switchLighter();
		}
		
		window.addEvents({
			load: function(){
				height = {% if height %}{{ height }}{% else %}window.getSize().y{% endif %} - $('head').getSize().y - 20;
				$$('.tCont').setStyle('height', height);
				$('result_trigger').addEvent('click', loadResult);
				$('run').addEvent('click', function() { 
					if (!$('result').hasClass('active')) {
						this.switchTab(
							$('result_trigger'), 
							this.sections.indexOf($('result'))
						);
					}
				}.bind(window));
				$('run').addEvent('click', loadResult);
				$('edit').addEvent('click', function(){
					window.open('{{ shell.get_absolute_url }}?skin={{ skin }}','editor');
				});
				this.sections	= $$('#tabs .tCont');
				this.actions	= $$('#actions a');
				
				this.actions.each(function(action, index){
					action.addEvents({
						click: function(e){
							if (e) e.stop();
							this.switchTab(action, index);
						}.bind(this)
					});
				}, this);
				
				if (!this.sections[0].hasClass('result')) this.actions[0].fireEvent('click');
			},
			result_included: function() {
				$('result_trigger').removeEvent('click',loadResult);
				$('run').removeEvent('click',loadResult);
				$('run').addEvent('click', function() {
					$('result').getFirst('iframe').src = show_src;
				});
			}
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<div id="head">
			<h1><a title="MooShell" href="http://mooshell.net/">MooShell</a></h1>
			<ul id="triggers">
				<li class="tRun"><a title="Run" id="run">Run</a></li>
				<li class="tEdit"><a title="Edit" id="edit">Edit</a></li>
			</ul>			
			
			<ul id="actions">
				{% for tab in tabs %}
					<li{% if forloop.first %} class='active'{% endif %}><a title="{{ tab.title }}" id="{{ tab.type }}_trigger">{{ tab.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
		
		<div id="tabs">
			{% for tab in tabs %}
				{% ifequal tab.type "result" %}<div class="tCont result{% if forloop.first %} active{% endif %}" id='result'></div>
					{% if forloop.first %}<script type='text/javascript'>window.addEvent('load',function(){ loadResult(); });</script>{% endif %}
				{% else %}<pre class="{{ tab.type }} tCont {% if forloop.first %} active{% endif %}">{{ tab.code }}</pre>{% endifequal %}
			{% endfor %}
		</div>
	</div>
</body>
</html>