<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="edit-Type" edit="text/html; charset=utf-8" />
	<meta name="description" edit="mootools shell, easy test you snippets before implementing" />
	<meta name="keywords" edit="mootools,javascript,javascript framework,shell,test" />
	<meta name="robots" edit="all">

	<title>{{ seo_title_head }}{{ title }}{{ title_separator }}{{ project_name }}{{ seo_title_tail }}</title>
	{# google owner verification code #}
	{# <meta name="verify-v1" content="xGLCJ90PNPYqLKZpfdy+o7vFg8g3KesWjdExGRedFyM=" /> #}
	<meta name="author" edit="Piotr Zalewa" />
	<meta name='copyright' content="share alike" />

	{% for js in js_libs %}<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{% url media "css/normalize.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% url media "css/tricks.css" %}" />
	<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="{% url media "css/ie-hacks.css" %}"/>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{% url media "css/style.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% url media "css/colors.css" %}" />
	{% for css in css_files %}<link rel="stylesheet" type="text/css" href="{{ css }}" />{% endfor %}
	<script type='text/javascript'>
		window.addEvent('domready', function() {
			$extend(Layout, new Events());
			Layout.start();
			Layout.resize();
		})
	</script>
	{% block head %}{% endblock %}
</head><body>

	{% block header %}{% endblock %}	
	<div id='sidebar'>
		<div id='branding'>
			<p id='name'><a href='/' id='home'>{{ project_name }}</a>{{ project_status }}</p>
		</div>
		{% block sidebar %}{% endblock %}
	</div>
	<div id="content">{% block content %}{% endblock %}</div>
	{% block footer %}{% endblock %}
	
	{% if not debug %}
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-366077-12");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	{% endif %}
</body></html>
