{% include "_doctype_and_top_head.html" %}
	<meta name="description" edit="{{ SEO_DESCRIPTION }}">
	<meta name="keywords" edit="{{ SEO_KEYWORDS }}">
	<meta name="robots" edit="all">

	<title>{{ seo_title_head }}{{ title }}{{ title_separator }}{{ project_name }}{{ seo_title_tail }}</title>
	{% if GOOGLE_VERIFICATION_META_TAG %}{{ GOOGLE_VERIFICATION_META_TAG|safe }}{% endif %}
	<meta name="author" edit="Piotr Zalewa">
	<meta name='copyright' content='share alike'/>
	{% for js in js_libs %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
	{{ SPECIAL_HEAD_CODE|safe }}
	<link rel="stylesheet" type="text/css" href="{% url mooshell_css "normalize.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% url mooshell_css "tricks.css" %}"/>
	<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/ie-hacks.css" %}"/>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{% url mooshell_css "style.css" %}"/>
	{% for css in css_files %}<link rel="stylesheet" type="text/css" href="{{ css }}"/>{% endfor %}
	<script type='text/javascript'>
		var csspath = "{% url mooshell_css "" %}",
			jspath = "{% url mooshell_js "" %}",
			imgpath = "{% url mooshell_img "" %}",
			mediapath = "{% url mooshell_media "" %}",
			codemirrorpath = "{% url codemirror "" %}",
			makefavouritepath = "{% url make_favourite %}",
			mooshell;
		Layout.skin = "{{ skin }}"
		window.addEvent('domready', function() {
			$extend(Layout, new Events());
			mooshell = new MooShellActions({
				exampleURL: "{{ example_url }}",
				exampleSaveUrl: '{% url pastie_save %}',
				loadDependenciesURL: '{{ get_dependencies_url|safe }}',
				loadLibraryVersionsURL: '{{ get_library_versions_url|safe }}'
			});
			new MooShellEditor.JS($('id_code_js')); // add user defined parameters
			new MooShellEditor.HTML($('id_code_html')); // add user defined parameters
			new MooShellEditor.CSS($('id_code_css')); // add user defined parameters
			Layout.render();
			{# var mooshellSettings = new MooShellSettings(); #}
		});
		{% comment %}
		{% if not example_url %}
			window.addEvent('load', function() {
				Layout.sidebar.accordion
					.display(Layout.sidebar.accordion.togglers.indexOf($("about_toggler")));
			});
		{% endif %}
		{% endcomment %}
	</script>
	{% block head %}{% endblock %}
</head><body>
	<form method='post' id='show-result' target='result' action='{{ FORCE_SHOW_SERVER }}{% url pastie_display %}{{ skin }}/' >
		<div id='header'>
			<div id='branding'>
				<p id='name'><a href='{% url pastie %}' id='home'>{{ project_name }} {{ project_status }}</a></p>
			</div>
			{% include "_mooshell_actions.html" %}
		</div>
		<div id='sidebar'>
			{% include "_mooshell_settings.html" %}
			{% include "_mooshell_resources.html" %}
			{% include "_mooshell_about.html" %}
			{% include "_mooshell_latest.html" %}
			{% include "_mooshell_examples.html" %}
			{% include "_mooshell_options.html" %}
			{% include "_mooshell_credits.html" %}
			
			<div id="sidebar-bottom">
				{% include "_mooshell_share.html" %}
				<div id="license-info">
					<h3>License</h3>
					<p>All code belongs to the poster and no license is enforced</p>
					<p>We are not responsible or liable for any loss or damage of any kind during the usage of provided code.</p>
				</div>
			</div>
		</div>
		<div id="content">		
			{% include "_mooshell_editor.html" %}	
		</div>
	</form>
	{% if not DEBUG and GOOGLE_ANALYTICS_ID %}
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker('{{ GOOGLE_ANALYTICS_ID }}');
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	{% endif %}
</body></html>
