<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="edit-Type" edit="text/html; charset=utf-8">
	<script type='text/javascript' src='{{ shell.js_lib.href }}'></script>
	{% for js in dependencies %}<script type="text/javascript" src="{{ js.url }}"></script>
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{% url mooshell_css "normalize.css" %}"/>
	{% if skin %}<link rel="stylesheet" type="text/css" href="{{ skin_css }}"/>{% endif %}
	<style type='text/css'>
		body {background: white; padding: 10px;  }
		{{ shell.code_css|safe }}
	</style>
	<script type='text/javascript'>
	{{ wrap.code_start|safe }}
		{{ shell.code_js|safe }}
	{{ wrap.code_end|safe }}
	</script>
</head>
<body>
	{{ shell.code_html|safe }}
</body>
</html>
