<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="edit-Type" edit="text/html; charset=utf-8">
	<meta name="description" edit="mootools shell, easy test you snippets before implementing">
	<meta name="keywords" edit="mootools,javascript,javascript framework,shell,test">
	<meta name="robots" edit="all">

	<title>{{ seo_title_head }}{{ title }}{{ title_separator }}{{ project_name }}{{ seo_title_tail }}</title>
	{# google owner verification code #}
	{# <meta name="verify-v1" content="xGLCJ90PNPYqLKZpfdy+o7vFg8g3KesWjdExGRedFyM=" /> #}
	<meta name="author" edit="Piotr Zalewa">
	<meta name='copyright' content='share alike'/>

	{% for js in js_libs %}<script type="text/javascript" src="{{ js }}"></script>
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/normalize.css" %}"/>
	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/tricks.css" %}"/>
	<!--[if lte IE 6]>
		<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/ie-hacks.css" %}"/>
	<![endif]-->

	<link rel="stylesheet" type="text/css" href="{% url mooshell_media "css/style.css" %}"/>
	{% for css in css_files %}<link rel="stylesheet" type="text/css" href="{{ css }}"/>{% endfor %}
	<script type='text/javascript'>
		nopairs = {% if nopairs %}true{% else %}false{% endif %};
		window.addEvent('load', function() {
			$extend(Layout, new Events());
			var mooshell = new MooShellActions({
				exampleURL: "{{ example_url }}",
				exampleSaveUrl: '{% url pastie_save %}'
			});
			new MooShellEditor.JS($('id_code_js'){% if nopairs %},{
				smartTypingPairs: false
			}{% endif %}); // add user defined parameters
			new MooShellEditor.HTML($('id_code_html'){% if nopairs %},{
				smartTypingPairs: false
			}{% endif %}); // add user defined parameters); // add user defined parameters
			new MooShellEditor.CSS($('id_code_css'){% if nopairs %},{
				smartTypingPairs: false
			}{% endif %}); // add user defined parameters); // add user defined parameters
			Layout.start();
		});
	</script>
	{% block head %}{% endblock %}
</head><body>
	<form method='post' id='show-result' target='result' action='{% url pastie_display %}' >
		<div id='header'>
			<div id='branding'>
				<p id='name'><a href='/' id='home'>{{ project_name }} {{ project_status }}</a></p>
			</div>
			{% include "_mooshell_actions.html" %}
		</div>
		<div id='sidebar'>
			{% include "_mooshell_latest.html" %}
			{% include "_mooshell_about.html" %}
			{% include "_mooshell_examples.html" %}
			{% include "_mooshell_options.html" %}
			{% include "_mooshell_credits.html" %}
			<h3>License</h3>
			<div class='text'>
				<p>All code is published under MIT-style license unless specified otherwise.</p></p>
			</div>
		</div>
		<div id="content">		
			{% include "_mooshell_editor.html" %}	
		</div>
	<form>
	{% if not debug %}
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
				var pageTracker = _gat._getTracker("UA-366077-12");
				pageTracker._trackPageview();
			} catch(err) {}
		</script>
	{% endif %}
</body></html>
