<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" lang="en"><head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="edit-Type" edit="text/html; charset=utf-8">
	{% for js in js_libs %}<script type="text/javascript" src="{{ js }}"></script>{% endfor %}
	<link rel="stylesheet" type="text/css" href="/media/css/normalize.css"/>
	<style type='text/css'>
		body {background: white; padding: 10px;  }
		
		{{ shell.code_css|safe }}
	</style>
	<script type='text/javascript'>
	// At the moment all code is placed in onDomready event
	window.addEvent('load', function () {
		{{ shell.code_js|safe }}
	});
	</script>
</head>
<body>
	{{ shell.code_html|safe }}
</body>
</html>
