{% include "_doctype_and_top_head.html" %}
	<script type='text/javascript' src='{{ shell.js_lib.href }}'{% if shell.js_lib_option %} {{ shell.js_lib_option|safe }}{% endif %}></script>
	{% for js in dependencies %}<script type="text/javascript" src="{{ js.url }}"></script>
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{% url mooshell_css "normalize.css" %}"/>
	{% if skin %}<link rel="stylesheet" type="text/css" href="{{ skin_css }}"/>{% endif %}
	{% for res in resources %}
		{% ifequal res.extension "css" %}
			<link rel="stylesheet" type="text/css" href="{{ res.url|safe }}"/>
		{% endifequal %}
		{% ifequal res.extension "js" %}
			<script type='text/javascript' src="{{ res.url|safe }}"></script>
		{% endifequal %}
	{% endfor %}
	<style type='text/css'>
		{{ shell.code_css|safe }}
	</style>
	<script type='text/javascript'>{{ wrap.code_start|safe }}
		{{ shell.code_js|safe }}
	{{ wrap.code_end|safe }}</script>
</head>
{{ shell.body_tag|default:"<body>"|safe }}
	{{ shell.code_html|safe }}
</body>
</html>
